<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <script src="/js/validationJoin.js" defer></script>

</head>
<body>
<h1>User Registration</h1>

<form th:action="@{/user/joinProcess}" th:object="${userJoinDto}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required onChange="checkUsername()"/>
        <span id="usernameError" style="color:red;display:none;">이미 사용 중인 닉네임입니다.</span> <!-- 오류 메시지 -->
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required />
    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>

</body>
</html>
